<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="styles.css" type="text/css">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/nvd3/build/nv.d3.css"/>
  <!-- Bower dependencies -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/underscore/underscore.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script src="bower_components/angular-mocks/angular-mocks.js"></script>
  <!-- <script src="bower_components/angular-route/angular-route.js"></script> -->
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/progressbar.js/dist/progressbar.js"></script>
  <script src='bower_components/angular-smart-table/dist/smart-table.min.js'></script>
  <script src="bower_components/d3/d3.js"></script>
  <script src='http://d3js.org/topojson.v1.min.js'></script>
  <script src="bower_components/nvd3/build/nv.d3.js"></script>
  <script src="bower_components/angular-nvd3/dist/angular-nvd3.js"></script>
  <script src='bower_components/planetary.js/dist/planetaryjs.min.js'></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
  <script src="//oblador.github.io/angular-scroll/0.6.2/angular-scroll.min.js"></script>
  <script src="//oblador.github.io/angular-parallax/angular-parallax.min.js"></script>
  <!-- Stripe -->
  <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
  <script type="text/javascript">
  Stripe.setPublishableKey('key');
  </script>
  <script src="AngularPayments/angular-payments/lib/angular-payments.min.js"></script>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Eir</title>
</head>

<body ng-app="eir" ng-controller='AppController' style="padding-top: 50px;">
  <div class="container-fluid">
    <nav role='navigation' class="navbar navbar-default small navbar-fixed-top" style="padding-right:25px">
      <div class="navbar-header">
        <a ui-sref="home" class="navbar-brand" style="font-size:300%;">EIR</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <!-- Scrolls to the globe -->
        <li><a ng-click=scrollTo('discover')>DISCOVER EIR</a></li>
        <!-- Scrolls to the stats -->
        <li><a ng-click=scrollTo('impact')>IMPACT</a></li>
        <!-- Scrolls to the feed -->
        <li><a ng-click=scrollTo('patients')>PATIENTS</a></li>
        <!-- Scrolls to the funding section -->
        <li><a ng-click=scrollTo('getFunded')>GET FUNDED</a></li>
        <li ng-switch on="loginStatus">
          <a ng-switch-when="false" ui-sref="signup">SIGN UP</a>
          <a ng-switch-when="false" ui-sref="signin">SIGN IN</a>
          <a ng-switch-when="true" ui-sref="profile">PROFILE</a>
        </li>
      </ul>
    </nav>

    <div ui-view></div>

    <footer class="container-fluid" role="navigation" style="background-color:white;">
        <ul class="nav navbar-nav">
        <!-- Scrolls to the globe -->
        <li><a ng-click=scrollTo('discover')>DISCOVER EIR</a></li>
        <!-- Scrolls to the stats -->
        <li><a ng-click=scrollTo('impact')>IMPACT</a></li>
        <!-- Scrolls to the feed -->
        <li><a ng-click=scrollTo('patients')>PATIENTS</a></li>
        <!-- Scrolls to the funding section -->
        <li><a ng-click=scrollTo('getFunded')>GET FUNDED</a></li>
        <li ng-switch on="loginStatus">
          <a ng-switch-when="false" ui-sref="signup">SIGN UP</a>
          <a ng-switch-when="false" ui-sref="signin">SIGN IN</a>
          <a ng-switch-when="true" ui-sref="profile">PROFILE</a>
        </li>
        </ul>
      </footer>
    <!-- Main app JS files -->
    <script src="services/factory.js"></script>
    <script src="home/home.js"></script>
    <script src="about/about.js"></script>
    <script src="patients/patients.js"></script>
    <script src="patients/get-funded.js"></script>
    <script src="profile/profile.js"></script>
    <script src="donate/donate.js"></script>
    <script src="thank-you.js"></script>
    <script src="auth/auth.js"></script>
    <script src="auth/token.js"></script>
    <script src="app.js"></script>
  </div>
</body>

</html>
