<header class="patient-header">
  <h1>{{ patient.first_name }} has a condition called {{ patient.condition_name }} and appreciates your donation {{ donor.amount > 0 ? 'of $' + donor.amount : '' }}</h1>
</header>
<div class="donate-wrapper row">
  <div class="col-md-4">
    <section class="donate-box">
      <img class="patient-photo" ng-src="{{patient.photo_url}}" width="400px" height="400px">
    </section>
  </div>
  <div class="col-md-4">
    <section>
      <div class="patient-progress">
        <h4>{{thankYou}}</h4>
        <h3>${{ patient.progress }} raised, ${{ patient.goal }} to go</h3>
        <h4>{{text}}</h4>
      </div>
    </section>
  </div>
  <!-- <div class="row">
  <div class="col-md-6">
    <section class="more-about-patient">
      <h3>{{ patient.first_name }}'s Story</h3> {{ patient.bio }}
    </section>
  </div>
</div> -->
  <!-- ============ payment form ============= -->
  <div class="col-md-4">
    <section class="Card donate-wrapper donate-box">
      <figure class="CardFront checkout">
        <section class="form-group">
          <form stripe-form="handleStripe" name="myForm">
            <div class="checkout-header">
              <h1 class="checkout-title">
            Donate and help {{ patient.first_name }} today
          </h1>
            </div>
            <div class="row">
            <div class="various-cards">
              <img class="visa cardImg" src="http://ivanthevariable.com/misc/codepen-credit-card/visa.jpg" />
              <img class="discover cardImg" src="http://ivanthevariable.com/misc/codepen-credit-card/discover.jpg" />
              <img class="mastercard cardImg" src="http://ivanthevariable.com/misc/codepen-credit-card/mastercard.jpg" />
              <img class="amex cardImg" src="http://ivanthevariable.com/misc/codepen-credit-card/amex.jpg" />
            </div>
            </div>
            <br class="clear" />
            <div class="row">
              <input type="text" ng-model="donor.donor_first_name" name="first_name" class="checkout-input checkout-name" placeholder="First Name" autofocus>
              <input type="text" ng-model="donor.donor_last_name" name="last_name" class="checkout-input checkout-name" placeholder="Last Name" autofocus>
            </div>
            <br class="clear" />
            <div class="row">
              <input type="text" ng-model="donor.donor_email" name="email" class="checkout-input checkout-email" placeholder="Email Address" autofocus>
              <input type="number" ng-model="donor.amount" name="amount" class="checkout-input checkout-amount" placeholder="Donation Amount" autofocus>
              <span class="payment-errors"></span>
            </div>
            <br class="clear" />
            <input type="text" class="checkout-input checkout-card" ng-model="number" payments-validate="card" payments-format="card" payments-type-model="type" ng-class="myForm.number.$card.type" placeholder="Card Number" />
            <input type="text" class="checkout-input checkout-cvc" ng-model="cvc" payments-validate="cvc" payments-format="cvc" payments-type-model="type" placeholder="CVC" />
            <input type="text" class="checkout-input checkout-expiry" ng-model="expiry" payments-validate="expiry" payments-format="expiry" placeholder="Exp Date" />
            <br class="clear" />
            <br class="clear" />
            <br class="clear" />
            <button type="submit" class="checkout-btn">SUBMIT</button>
          </form>
        </section>
      </figure>
    </section>
  </div>
</div>
